.main__container {
  width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__right {
  margin-left: 30px;
}
.main__right .main__title {
  margin-bottom: 32px;
}
.main__left {
  width: 770px;
}
.main__title {
  padding-top: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  /* identical to box height, or 100% */
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.main__madiaplayer {
  margin-top: 32px;
  width: 770px;
  height: 475px;
  margin-bottom: 40px;
  overflow: hidden;
}
.main__pic {
  float: left;
  margin-right: 30px;
}
.main__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__description__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.07em;
  margin-bottom: 5px;
  color: #FFFFFF;
}
.main__description__item__in {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.07em;
  margin-bottom: 12px;
  color: #868686;
}
.main__description__title {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.07em;
  padding-top: 96px;
  color: #FFFFFF;
}
.main__description__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.07em;
  color: #868686;
  margin-top: 4px;
  margin-bottom: 38px;
}

.main__recommendations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}