.page {

    // .page__new
    &__new {
    }
}
.new {
    padding-top: 60px;
    padding-bottom: 140px;

    // .new__container

    &__container {
    }

    // .new__title
    &__title {
        margin-bottom: 40px;
    }

}
.title {
}
.movies-new {

    // .movies-new__items

    &__items {
        display: grid;
        gap: 30px;
        row-gap: 70px;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }

    // .movies-new__item

    &__item {
        position: relative;
    }
}
.item-new-movies {
    align-items: flex-start;
    // .item-new-movies__image
    &__image {
        display: block;
        position: relative;
        padding-bottom: 148%;
        overflow: hidden;
    }
    &__image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease 0s;
        &:hover {
            transform: scale(1.06);
        }
    }

    // .item-new-movies__episode

    &__episode {
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 16px;
        line-height: 112.5%;
        text-align: center;
        color: #FFFFFF;

        position: absolute;
        width: 100%;
        bottom: 14px;
    }

    // .item-new-movies__title

    &__title {
        display: block;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;

        position: absolute;
        width: 100%;
        bottom: -15px;

        max-height: 18px;

        transition: all 0.3s ease 0s;
        &:hover {
            color: rgb(160, 160, 160);
        }
    }
}

.small-gradient:after {
	content: "";
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
    background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, $bgColor 100%);
}

@media (max-width: ($md2+px)){
    .item-new-movies {
        &__episode {
            font-size: 20px;
            bottom: 60px;
        }
        &__title {
            font-size: 24px;
            line-height: 35px;
            bottom: 30px;
        }
    }
}
@media (max-width: ($md3+px)){
    .item-new-movies {
        &__episode {
            font-size: 15px;
            bottom: 50px;
        }
        &__title {
            font-size: 18px;
            line-height: 24px;
            bottom: 20px;
        }
    }
}
