.main {

    // .main__container

    &__container {
        width: 1170px;
        margin: 0 auto;
        display: flex;
    
    }
    &__right {
        margin-left: 30px;
        .main__title {
            margin-bottom: 32px;
        }
    }
    &__left {
    width: 770px;
    }

    // .main__title

    &__title {
        padding-top: 48px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        /* identical to box height, or 100% */
        
        letter-spacing: 0.07em;
        
        color: #FFFFFF;   

    }

    // .main__madiaplayer

    &__madiaplayer {
        margin-top: 32px;
        width: 770px;
        height: 475px;
        margin-bottom: 40px;
    
    }
    &__pic {
        float: left;
        margin-right: 30px;
    }
    
    &__description {
        display: flex;
        flex-direction: column;
		// .description__pic

        // .descriprion__item
        &__item {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.07em;
            margin-bottom: 5px;
            color: #FFFFFF;
            &__in{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.07em;
                margin-bottom: 12px;
                color: #868686;
            }
        }  
        &__title {
            display: block;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.07em;
            padding-top:96px ;
            color: #FFFFFF;
        }
        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.07em;
            color: #868686;
            margin-top: 4px;
            margin-bottom: 38px;
        }
      }
    
}
.main {

    // .main__recommendations

    &__recommendations {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}
.recomendations {

    // .recomendations__item

    &__item {
    }
}
