.main {

    // .main__container

    &__container {
        width: 1170px;
        margin: 0 auto;
    }

    // .main__title

    &__title {
        padding-top: 48px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        /* identical to box height, or 100% */
        
        letter-spacing: 0.07em;
        
        color: #FFFFFF;    
    }

    // .main__madiaplayer

    &__madiaplayer {
        margin-top: 32px;
        width: 770px;
        height: 475px;
    }
    &__pic {
        float: left;
        margin-right: 30px;
    }
    
    &__description {
        display: flex;
        flex-direction: column;
		// .description__pic

        // .descriprion__item
        &__item {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.07em;
            margin-bottom: 5px;
            color: #FFFFFF;
            &__in{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.07em;
                margin-bottom: 12px;
                color: #868686;
            }
        }  
      }
    
}
